In [ ]:
import pandas as pd

## Задачи для совместного разбора

1. Загрузите данные из файла `sp500hst.txt` и обозначьте столбцы в соответствии с содержимым: `"date", "ticker", "open", "high", "low", "close", "volume"`.

In [ ]:
import pandas as pd
dfrm = pd.read_csv('sp500hst.txt', header=None, sep=',', names=[ "date",  "ticker", "open", "high", "low", "close", "volume" ])
print(dfrm)

            date ticker   open     high     low  close  volume
0       20090821      A  25.60  25.6100  25.220  25.55   34758
1       20090824      A  25.64  25.7400  25.330  25.50   22247
2       20090825      A  25.50  25.7000  25.225  25.34   30891
3       20090826      A  25.32  25.6425  25.145  25.48   33334
4       20090827      A  25.50  25.5700  25.230  25.54   70176
...          ...    ...    ...      ...     ...    ...     ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792

[122574 rows x 7 columns]

2. Рассчитайте среднее значение показателей для каждого из столбцов c номерами 3-6.

In [ ]:
dfrm = pd.read_csv('sp500hst.txt', header=None, sep=',', names=[ "date",  "ticker", "open", "high", "low", "close", "volume" ])
dfrm[['open', 'high', 'low', 'close', 'volume']].iloc[3:7].mean(axis=0)

open         25.485000
high         25.750625
low          25.328750
close        25.632500
volume    48567.000000
dtype: float64

3. Добавьте столбец, содержащий только число месяца, к которому относится дата.

In [ ]:
x=dfrm['date']
k=0
dfrm['date1']=x
for y in x:
  y=str(y)
  dfrm['date1'][k]=y[6:8]
  k+=1
print(dfrm)

In [ ]:
dfrm.drop(['New'], axis=1)

            date ticker   open     high     low  close  volume  date1
0       20090821      A  25.60  25.6100  25.220  25.55   34758     21
1       20090824      A  25.64  25.7400  25.330  25.50   22247     24
2       20090825      A  25.50  25.7000  25.225  25.34   30891     25
3       20090826      A  25.32  25.6425  25.145  25.48   33334     26
4       20090827      A  25.50  25.5700  25.230  25.54   70176     27
...          ...    ...    ...      ...     ...    ...     ...    ...
122569  20100813    ZMH  51.72  51.9000  51.380  51.44   14561     13
122570  20100816    ZMH  51.13  51.4700  50.600  51.00   13489     16
122571  20100817    ZMH  51.14  51.6000  50.890  51.21   20498     17
122572  20100819    ZMH  51.63  51.6300  50.170  50.22   18259     19
122573  20100820    ZMH  50.03  50.5500  49.480  49.82   17792     20

[122574 rows x 8 columns]

4. Рассчитайте суммарный объем торгов для для одинаковых значений тикеров.

5. Загрузите данные из файла sp500hst.txt и обозначьте столбцы в соответствии с содержимым: "date", "ticker", "open", "high", "low", "close", "volume". Добавьте столбец с расшифровкой названия тикера, используя данные из файла `sp_data2.csv` . В случае нехватки данных об именах тикеров корректно обработать их.

## Лабораторная работа №2

### Базовые операции с `DataFrame`

1.1 В файлах `recipes_sample.csv` и `reviews_sample.csv` находится информация об рецептах блюд и отзывах на эти рецепты соответственно. Загрузите данные из файлов в виде `pd.DataFrame` с названиями `recipes` и `reviews`. Обратите внимание на корректное считывание столбца с индексами в таблице `reviews` (безымянный столбец).

In [ ]:
rp = pd.read_csv('recipes_sample.csv', sep=',')
rw = pd.read_csv('reviews_sample.csv', index_col=0, sep=',')
print(rp.head())
print(rw.head())

                                       name     id  minutes  contributor_id  \
0     george s at the cove  black bean soup  44123       90           35193
1        healthy for them  yogurt popsicles  67664       10           91970
2              i can t believe it s spinach  38798       30            1533
3                      italian  gut busters  35173       45           22724
4  love is in the air  beef fondue   sauces  84797       25            4470

    submitted  n_steps                                        description  \
0  2002-10-25      NaN  an original recipe created by chef scott meska...
1  2003-07-26      NaN  my children and their friends ask for my homem...
2  2002-08-29      NaN            these were so go, it surprised even me.
3  2002-07-27      NaN  my sister-in-law made these for us at a family...
4  2004-02-23      4.0  i think a fondue is a very romantic casual din...

   n_ingredients
0           18.0
1            NaN
2            8.0
3            NaN
4            NaN
           user_id  recipe_id        date  rating  \
370476       21752      57993  2003-05-01       5
624300      431813     142201  2007-09-16       5
187037      400708     252013  2008-01-10       4
706134  2001852463     404716  2017-12-11       5
312179       95810     129396  2008-03-14       5

                                                   review
370476  Last week whole sides of frozen salmon fillet ...
624300  So simple and so tasty!  I used a yellow capsi...
187037  Very nice breakfast HH, easy to make and yummy...
706134  These are a favorite for the holidays and so e...
312179  Excellent soup!  The tomato flavor is just gre...

1.2 Для каждой из таблиц выведите основные параметры:
* количество точек данных (строк);
* количество столбцов;
* тип данных каждого столбца.

In [ ]:
print('количество строк в rp:',len(rp.index))
print('количество строк в rw:',len(rw.index))

print('количество столбцов в rp:', len(rp.axes[1]))
print('количество столбцов в rw:', len(rw.axes[1]))

print('тип данных в rp:',  rp.dtypes)
print('тип данных в rw:', rw.dtypes)

количество строк в rp: 30000
количество строк в rw: 126696
количество столбцов в rp: 8
количество столбцов в rw: 5
тип данных в rp: name               object
id                  int64
minutes             int64
contributor_id      int64
submitted          object
n_steps           float64
description        object
n_ingredients     float64
dtype: object
тип данных в rw: user_id       int64
recipe_id     int64
date         object
rating        int64
review       object
dtype: object

1.3 Исследуйте, в каких столбцах таблиц содержатся пропуски. Посчитайте долю строк, содержащих пропуски, в отношении к общему количеству строк.

In [ ]:
print('где в rp и сколько пропусков имеется:', rp.isnull().sum())
print('где в rw и сколько пропусков имеется:', rw.isnull().sum())

print('доля в отношении к общ кол-ву строк в rp:', rp.isnull().sum()/len(rp.index))
print('доля в отношении к общ кол-ву строк в rw:', rw.isnull().sum()/len(rw.index))

print('итоговая сумма долей в rp:', (rp.isnull().sum()/len(rp.index)).sum())
print('итоговая сумма долей в rw:', (rw.isnull().sum()/len(rw.index)).sum())

где в rp и сколько пропусков имеется: name                  0
id                    0
minutes               0
contributor_id        0
submitted             0
n_steps           11190
description         623
n_ingredients      8880
dtype: int64
где в rw и сколько пропусков имеется: user_id       0
recipe_id     0
date          0
rating        0
review       17
dtype: int64
доля в отношении к общ кол-ву строк в rp: name              0.000000
id                0.000000
minutes           0.000000
contributor_id    0.000000
submitted         0.000000
n_steps           0.373000
description       0.020767
n_ingredients     0.296000
dtype: float64
доля в отношении к общ кол-ву строк в rw: user_id      0.000000
recipe_id    0.000000
date         0.000000
rating       0.000000
review       0.000134
dtype: float64
итоговая сумма долей в rp: 0.6897666666666666
итоговая сумма долей в rw: 0.00013417945317926376

1.4 Рассчитайте среднее значение для каждого из числовых столбцов (где это имеет смысл).

In [ ]:
x=rp.select_dtypes('number').mean()
print('среднее значение в rp: ', x[1:])

y=rw.select_dtypes('number').mean()
print('среднее значение в rw: ', y[1:])

среднее значение в rp:  minutes           1.233581e+02
contributor_id    5.635901e+06
n_steps           9.805582e+00
n_ingredients     9.008286e+00
dtype: float64
среднее значение в rw:  recipe_id    160094.387060
rating            4.410802
dtype: float64

1.5 Создайте серию из 10 случайных названий рецептов.

In [ ]:
z=rp['name'].sample(10)
print('10 случайных рецептов:', z)

10 случайных рецептов: 7607                      corn souffle  stouffer s copycat
26184                  stuffed mushrooms  lidia bastianich
9350     dense  delicious brownies  gluten free  dairy ...
12552                                    greek green beans
7041                              cinnamon honeygrapefruit
8467                                    crisp french toast
28557                                       veal forestier
8450                        crescent cinnamon cherry rolls
15769                                     leftover pasties
28872        vienna country style ribs for pressure cooker
Name: name, dtype: object

1.6 Измените индекс в таблице `reviews`, пронумеровав строки, начиная с нуля.

In [ ]:
rw.reset_index(drop= True , inplace= True )
print(rw.head(10))

      user_id  recipe_id        date  rating  \
0       21752      57993  2003-05-01       5
1      431813     142201  2007-09-16       5
2      400708     252013  2008-01-10       4
3  2001852463     404716  2017-12-11       5
4       95810     129396  2008-03-14       5
5       35106      31322  2003-01-03       4
6      404333     199579  2006-12-10       5
7      162888      16067  2005-12-09       5
8       89831      33715  2007-07-03       5
9      308434      11252  2008-12-14       5

                                              review
0  Last week whole sides of frozen salmon fillet ...
1  So simple and so tasty!  I used a yellow capsi...
2  Very nice breakfast HH, easy to make and yummy...
3  These are a favorite for the holidays and so e...
4  Excellent soup!  The tomato flavor is just gre...
5  I forgot to add skim milk but it still tasted ...
6  Made this for dinner it was so excellent, fina...
7  When I snapped the picture, I forgot to review...
8  This was good combination of flavors but I wil...
9  Oh Bergy!  These wonderful little cakes are aw...

1.7 Выведите информацию о рецептах, время выполнения которых не больше 20 минут и кол-во ингредиентов в которых не больше 5.

In [ ]:
rp[(rp.minutes < 21) & (rp.n_ingredients < 6)].head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
28,quick biscuit bread,302399,20,213909,2008-05-06,11.0,this is a wonderful quick bread to make as an ...,5.0
60,peas fit for a king or queen,303944,20,213909,2008-05-16,NaN,this recipe is so simple and the flavors are s...,5.0
90,hawaiian sunrise mimosa,100837,5,58104,2004-09-29,4.0,pineapple mimosa was changed to hawaiian sunri...,3.0
91,tasty dish s banana pudding in 2 minutes,286484,2,47892,2008-02-13,NaN,"""mmmm, i love bananas!"" a --tasty dish-- origi...",4.0
94,1 minute meatballs,11361,13,4470,2001-09-03,NaN,this is a real short cut for cooks in a hurry....,2.0

### Работа с датами в `pandas`

2.1 Преобразуйте столбец `submitted` из таблицы `recipes` в формат времени. Модифицируйте решение задачи 1.1 так, чтобы считать столбец сразу в нужном формате.

In [13]:
rp['submitted']=pd.to_datetime(rp['submitted'])
print(rp['submitted'].dtype)

datetime64[ns]

In [18]:
rp = pd.read_csv('recipes_sample.csv', sep=',', parse_dates=[4])
rw = pd.read_csv('reviews_sample.csv', index_col=0, sep=',', parse_dates=[3])
print(rp.head())
print(rw.head())

                                       name     id  minutes  contributor_id  \
0     george s at the cove  black bean soup  44123       90           35193
1        healthy for them  yogurt popsicles  67664       10           91970
2              i can t believe it s spinach  38798       30            1533
3                      italian  gut busters  35173       45           22724
4  love is in the air  beef fondue   sauces  84797       25            4470

   submitted  n_steps                                        description  \
0 2002-10-25      NaN  an original recipe created by chef scott meska...
1 2003-07-26      NaN  my children and their friends ask for my homem...
2 2002-08-29      NaN            these were so go, it surprised even me.
3 2002-07-27      NaN  my sister-in-law made these for us at a family...
4 2004-02-23      4.0  i think a fondue is a very romantic casual din...

   n_ingredients
0           18.0
1            NaN
2            8.0
3            NaN
4            NaN
           user_id  recipe_id       date  rating  \
370476       21752      57993 2003-05-01       5
624300      431813     142201 2007-09-16       5
187037      400708     252013 2008-01-10       4
706134  2001852463     404716 2017-12-11       5
312179       95810     129396 2008-03-14       5

                                                   review
370476  Last week whole sides of frozen salmon fillet ...
624300  So simple and so tasty!  I used a yellow capsi...
187037  Very nice breakfast HH, easy to make and yummy...
706134  These are a favorite for the holidays and so e...
312179  Excellent soup!  The tomato flavor is just gre...

2.2 Выведите информацию о рецептах, добавленных в датасет не позже 2010 года.

In [11]:
rp.loc[rp['submitted'].dt.year < 2011]

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients
0,george s at the cove black bean soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0
1,healthy for them yogurt popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN
2,i can t believe it s spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0
3,italian gut busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN
4,love is in the air beef fondue sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN
...,...,...,...,...,...,...,...,...
29993,zuni caf zucchini pickles,316950,2895,62264,2008-07-31,NaN,refrigerator pickles for some of the zucchini ...,8.0
29995,zurie s holey rustic olive and cheddar bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0
29996,zwetschgenkuchen bavarian plum cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0
29997,zwiebelkuchen southwest german onion cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN
29999,cookies by design cookies on a stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0

### Работа со строковыми данными в `pandas`

3.1  Добавьте в таблицу `recipes` столбец `description_length`, в котором хранится длина описания рецепта из столбца `description`.

In [19]:
rp['description_length'] = rp['description'].str.len()
print(rp)

                                               name      id  minutes  \
0             george s at the cove  black bean soup   44123       90
1                healthy for them  yogurt popsicles   67664       10
2                      i can t believe it s spinach   38798       30
3                              italian  gut busters   35173       45
4          love is in the air  beef fondue   sauces   84797       25
...                                             ...     ...      ...
29995  zurie s holey rustic olive and cheddar bread  267661       80
29996          zwetschgenkuchen  bavarian plum cake  386977      240
29997   zwiebelkuchen   southwest german onion cake  103312       75
29998                                   zydeco soup  486161       60
29999        cookies by design   cookies on a stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29998          227978 2012-08-29      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients  \
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

       description_length
0                   330.0
1                   255.0
2                    39.0
3                   154.0
4                   587.0
...                   ...
29995               484.0
29996               286.0
29997               311.0
29998               648.0
29999               125.0

[30000 rows x 9 columns]

3.2 Измените название каждого рецепта в таблице `recipes` таким образом, чтобы каждое слово в названии начиналось с прописной буквы.

In [21]:
rp['name'] = rp['name'].str.title()
print(rp)

                                               name      id  minutes  \
0             George S At The Cove  Black Bean Soup   44123       90
1                Healthy For Them  Yogurt Popsicles   67664       10
2                      I Can T Believe It S Spinach   38798       30
3                              Italian  Gut Busters   35173       45
4          Love Is In The Air  Beef Fondue   Sauces   84797       25
...                                             ...     ...      ...
29995  Zurie S Holey Rustic Olive And Cheddar Bread  267661       80
29996          Zwetschgenkuchen  Bavarian Plum Cake  386977      240
29997   Zwiebelkuchen   Southwest German Onion Cake  103312       75
29998                                   Zydeco Soup  486161       60
29999        Cookies By Design   Cookies On A Stick  298512       29

       contributor_id  submitted  n_steps  \
0               35193 2002-10-25      NaN
1               91970 2003-07-26      NaN
2                1533 2002-08-29      NaN
3               22724 2002-07-27      NaN
4                4470 2004-02-23      4.0
...               ...        ...      ...
29995          200862 2007-11-25     16.0
29996          177443 2009-08-24      NaN
29997          161745 2004-11-03      NaN
29998          227978 2012-08-29      NaN
29999          506822 2008-04-15      9.0

                                             description  n_ingredients  \
0      an original recipe created by chef scott meska...           18.0
1      my children and their friends ask for my homem...            NaN
2                these were so go, it surprised even me.            8.0
3      my sister-in-law made these for us at a family...            NaN
4      i think a fondue is a very romantic casual din...            NaN
...                                                  ...            ...
29995  this is based on a french recipe but i changed...           10.0
29996  this is a traditional fresh plum cake, thought...           11.0
29997  this is a traditional late summer early fall s...            NaN
29998  this is a delicious soup that i originally fou...            NaN
29999  i've heard of the 'cookies by design' company,...           10.0

       description_length
0                   330.0
1                   255.0
2                    39.0
3                   154.0
4                   587.0
...                   ...
29995               484.0
29996               286.0
29997               311.0
29998               648.0
29999               125.0

[30000 rows x 9 columns]

3.3 Добавьте в таблицу `recipes` столбец `name_word_count`, в котором хранится количество слов из названии рецепта (считайте, что слова в названии разделяются только пробелами). Обратите внимание, что между словами может располагаться несколько пробелов подряд.

In [22]:
rp['name_word_count'] = rp['name'].str.split().str.len()
print(rp)

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
0,George S At The Cove Black Bean Soup,44123,90,35193,2002-10-25,NaN,an original recipe created by chef scott meska...,18.0,330.0,8
1,Healthy For Them Yogurt Popsicles,67664,10,91970,2003-07-26,NaN,my children and their friends ask for my homem...,NaN,255.0,5
2,I Can T Believe It S Spinach,38798,30,1533,2002-08-29,NaN,"these were so go, it surprised even me.",8.0,39.0,7
3,Italian Gut Busters,35173,45,22724,2002-07-27,NaN,my sister-in-law made these for us at a family...,NaN,154.0,3
4,Love Is In The Air Beef Fondue Sauces,84797,25,4470,2004-02-23,4.0,i think a fondue is a very romantic casual din...,NaN,587.0,8
...,...,...,...,...,...,...,...,...,...,...
29995,Zurie S Holey Rustic Olive And Cheddar Bread,267661,80,200862,2007-11-25,16.0,this is based on a french recipe but i changed...,10.0,484.0,8
29996,Zwetschgenkuchen Bavarian Plum Cake,386977,240,177443,2009-08-24,NaN,"this is a traditional fresh plum cake, thought...",11.0,286.0,4
29997,Zwiebelkuchen Southwest German Onion Cake,103312,75,161745,2004-11-03,NaN,this is a traditional late summer early fall s...,NaN,311.0,5
29998,Zydeco Soup,486161,60,227978,2012-08-29,NaN,this is a delicious soup that i originally fou...,NaN,648.0,2
29999,Cookies By Design Cookies On A Stick,298512,29,506822,2008-04-15,9.0,"i've heard of the 'cookies by design' company,...",10.0,125.0,7

### Группировки таблиц `pd.DataFrame`

4.1 Посчитайте количество рецептов, представленных каждым из участников (`contributor_id`). Какой участник добавил максимальное кол-во рецептов?

In [26]:
rp_count=rp['contributor_id'].value_counts()
print('кол-во:', rp_count)
print('учасник с максимальным кол-вом и само их кол-во:', rp_count[:1])

кол-во: 89831      421
37449      346
37779      345
1533       186
169430     183
          ...
1061628      1
1076183      1
429061       1
64032        1
186118       1
Name: contributor_id, Length: 8404, dtype: int64
учасник с максимальным кол-вом и само их кол-во: 89831    421
Name: contributor_id, dtype: int64

4.2 Посчитайте средний рейтинг к каждому из рецептов. Для скольких рецептов отсутствуют отзывы? Обратите внимание, что отзыв с нулевым рейтингом или не заполненным текстовым описанием не считается отсутствующим.

In [38]:
a=rw.groupby('recipe_id').mean()['rating']
print(a)
print('отзывов отсутствует:', len(rp['id']) - len(a))

recipe_id
48        1.000000
55        4.750000
66        4.944444
91        4.750000
94        5.000000
            ...
536547    5.000000
536610    0.000000
536728    4.000000
536729    4.750000
536747    0.000000
Name: rating, Length: 28100, dtype: float64
отзывов отсутствует: 1900

4.3 Посчитайте количество рецептов с разбивкой по годам создания.

In [43]:
rp.groupby(rp["submitted"].dt.year).count()["name"]

submitted
1999     275
2000     104
2001     589
2002    2644
2003    2334
2004    2153
2005    3130
2006    3473
2007    4429
2008    4029
2009    2963
2010    1538
2011     922
2012     659
2013     490
2014     139
2015      42
2016      24
2017      39
2018      24
Name: name, dtype: int64

### Объединение таблиц `pd.DataFrame`

5.1 При помощи объединения таблиц, создайте `DataFrame`, состоящий из четырех столбцов: `id`, `name`, `user_id`, `rating`. Рецепты, на которые не оставлен ни один отзыв, должны отсутствовать в полученной таблице. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и попытавшись найти строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [56]:
dfrm = pd.merge(rp, rw, how="inner", left_on="id", right_on="recipe_id")[["id", "name", "user_id", "rating"]]
dfrm

            id                                    name  user_id  rating
0        44123   George S At The Cove  Black Bean Soup   743566       5
1        44123   George S At The Cove  Black Bean Soup    76503       5
2        44123   George S At The Cove  Black Bean Soup    34206       5
3        67664      Healthy For Them  Yogurt Popsicles   494084       5
4        67664      Healthy For Them  Yogurt Popsicles   303445       5
...        ...                                     ...      ...     ...
126691  486161                             Zydeco Soup   305531       5
126692  486161                             Zydeco Soup  1271506       5
126693  486161                             Zydeco Soup   724631       5
126694  486161                             Zydeco Soup   133174       5
126695  298512  Cookies By Design   Cookies On A Stick   804234       1

[126696 rows x 4 columns]

5.2 При помощи объединения таблиц и группировок, создайте `DataFrame`, состоящий из трех столбцов: `recipe_id`, `name`, `review_count`, где столбец `review_count` содержит кол-во отзывов, оставленных на рецепт `recipe_id`. У рецептов, на которые не оставлен ни один отзыв, в столбце `review_count` должен быть указан 0. Подтвердите правильность работы вашего кода, выбрав рецепт, не имеющий отзывов, и найдя строку, соответствующую этому рецепту, в полученном `DataFrame`.

In [55]:
dfrm1 = pd.merge(rp[['name', 'id']], rw['recipe_id'], left_on='id', right_on='recipe_id')
dfrm1
dfrm2 = pd.merge(rw.groupby('recipe_id').count()['date'], dfrm, right_on='recipe_id', left_on='recipe_id').drop('id', axis=1)
dfrm2.rename(columns={'date': 'review_count'})

        recipe_id  review_count                                        name
0              48             2                            Boston Cream Pie
1              48             2                            Boston Cream Pie
2              55             4  Betty Crocker S Southwestern Guacamole Dip
3              55             4  Betty Crocker S Southwestern Guacamole Dip
4              55             4  Betty Crocker S Southwestern Guacamole Dip
...           ...           ...                                         ...
126691     536729             4                Creole Watermelon Feta Salad
126692     536747             4                          Lemon Pom Pom Cake
126693     536747             4                          Lemon Pom Pom Cake
126694     536747             4                          Lemon Pom Pom Cake
126695     536747             4                          Lemon Pom Pom Cake

[126696 rows x 3 columns]

5.3. Выясните, рецепты, добавленные в каком году, имеют наименьший средний рейтинг?

In [57]:
rw['rating'].groupby(pd.DatetimeIndex(rw['date']).year).mean().sort_values()

date
2017    3.353042
2000    3.384615
2018    3.504076
2016    3.912603
2015    4.047145
2014    4.110595
2001    4.134426
2013    4.274168
2011    4.302045
2012    4.341427
2010    4.454440
2002    4.481556
2008    4.484635
2009    4.524728
2003    4.526940
2004    4.546548
2007    4.547077
2005    4.563680
2006    4.603673
Name: rating, dtype: float64

### Сохранение таблиц `pd.DataFrame`

6.1 Отсортируйте таблицу в порядке убывания величины столбца `name_word_count` и сохраните результаты выполнения заданий 3.1-3.3 в csv файл.

In [58]:
sort_rp = rp.sort_values("name_word_count", ascending=False)
sort_rp.head()

,name,id,minutes,contributor_id,submitted,n_steps,description,n_ingredients,description_length,name_word_count
26223,Subru Uncle S Whole Green Moong Dal I Ll Be Ma...,77188,95,6357,2003-11-21,NaN,my dad and mom quite enjoy this lentil curry. ...,15.0,343.0,15
28083,Tsr Version Of T G I Friday S Black Bean Soup...,102274,75,74652,2004-10-19,9.0,from www.topsecretrecipes.com i got this copyc...,16.0,436.0,14
26222,Subru Uncle S Toor Ki Dal Sindhi Style Dad M...,76908,65,6357,2003-11-18,29.0,this is the lentil curry that subru uncle(our ...,15.0,1087.0,14
27876,Top Secret Recipes Version Of I H O P Griddl...,113346,20,175727,2005-03-14,5.0,this recipe is top secret recipes version of i...,9.0,129.0,14
5734,Chicken Curry Or Cat S Vomit On A Bed Of Magg...,294898,30,802799,2008-03-28,11.0,an old family recipe that's easy to make since...,12.0,144.0,13

In [59]:
sort_rp[['description_length', 'name', 'name_word_count']].to_csv('zadanie6.1.csv', index=False)

6.2 Воспользовавшись `pd.ExcelWriter`, cохраните результаты 5.1 и 5.2 в файл: на лист с названием `Рецепты с оценками` сохраните результаты выполнения 5.1; на лист с названием `Количество отзывов по рецептам` сохраните результаты выполнения 5.2.

In [60]:
with pd.ExcelWriter("zadanie6.2.xlsx") as writer:
    dfrm.to_excel(writer, sheet_name="Рецепты с оценками", index=False)
    dfrm2.to_excel(writer, sheet_name="Количество отзывов по рецептам", index=False)